.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
*.xdp*
!.env.example
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
.vercel
.output
.idea
.fleet

# Sentry Config File
.sentryclirc
